<div class="header-wrapper" data-responsive_image="{{ responsive_background }}" data-image="{{ background }}">
    <div class="header-wrapper__info">
        <div class="mb-3 header-wrapper__info-logo">
            <img src="{{ logo }}" alt="movie-logo">
        </div>
        <div class="header-wrapper__info-title">
            <h2>{{ title }}</h2>
        </div>
        <div class="header-wrapper__info-description">           
            {{#if description}}
             <p class="main-description">{{ description }}</p>
            {{/if}}
            {{#if infoDescription}}
            <p>{{ infoDescription }}</p>
            {{/if}}
        </div>
        <div class="header-wrapper__info-cta">
            <button class="ml-2 btn btn-white">قسمت ها</button>
            <button class="ml-2 btn btn-glass-white">پیش نمایش</button>
            <button class="ml-2 btn-outline btn-glass-white border-radius-full plus">
                <span>+</span>
            </button>
            <div class="more-info">
                <a class="" href="#">
                    <i class="ml-1 fa fa-info-circle"></i>
                    <span>توضیحات بیشتر</span>
                </a>
            </div>
        </div>
        <div class="header-wrapper__info-subdescription">
            {{#each info}}
            <ul>
                <li class="title">{{ title }}:</li>
                {{#each values as |value| }}
                <li>{{ value }}</li>
                {{~/each}}
            </ul>
            {{~/each}}
        </div>
    </div>    
</div>